.user {
  margin-bottom: 10px;
}

.userPhoto img {
  width: 200px;
}

.pages {
  margin-bottom: 20px;
}
.pages span {
  margin-right: 10px;
  padding: 5px;
  background-color: darkgrey;
  cursor: pointer;
}
.selectedPage {
  font-weight: bold;
  color: gold;
}
